altgraph==0.17.5
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
bcrypt==5.0.0
beautifulsoup4==4.14.3
blinker==1.9.0
certifi==2026.2.25
cffi==2.1.1
charset-normalizer==3.4.7
click==8.3.2
cloudscraper==1.2.71
colorama==0.4.6
cryptography==50.0.0
deprecation==2.1.0
dnspython==2.8.0
ecdsa==0.19.2
fastapi==0.141.1
Flask==3.1.3
flask-cors==6.0.2
flask-marshmallow==1.4.0
Flask-SQLAlchemy==3.1.1
greenlet==3.3.2
gunicorn==26.0.0
h11==0.16.0
h2==4.4.1
hpack==4.2.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.1.0
MarkupSafe==3.0.3
marshmallow==4.3.0
multidict==6.7.1
packaging==26.2
passlib==1.7.4
pefile==2024.8.26
pillow==12.3.0
postgrest==2.31.0
propcache==0.5.2
pyasn1==0.6.4
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
PyJWT==2.13.0
pymongo==4.17.0
pyparsing==3.3.2
python-dotenv==1.2.2
python-jose==3.5.0
python-multipart==0.0.32
pywin32-ctypes==0.2.3
realtime==2.31.0
reportlab==5.0.0
requests==2.33.1
requests-toolbelt==1.0.0
rsa==4.9.1
setuptools==83.0.0
six==1.17.0
soupsieve==2.8.3
SQLAlchemy==2.0.49
starlette==1.3.1
storage3==2.31.0
StrEnum==0.4.15
supabase==2.31.0
supabase-auth==2.31.0
supabase-functions==2.31.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.52.1
websockets==15.0.1
Werkzeug==3.1.8
yarl==1.24.5
